
@{
    ViewData["Title"] = "Home Page";
}

<br/>
<div class=row>
  <div class="col-sm-12">
    <div class="card border-primary text-primary mb-3">
      <div class="card-body text-primary">
        <h5 class="card-title">
          <h1 class="display-4 text-center">Hello | Hola | Hallo | Bonjour</h1>
        </h5>
    </div>
  </div>
</div>
  <div class="col-sm-12">
    <form action="/home/messageboard" method="post">
      <div class="card border-primary mb-3">
        <h5 class="card-header">Language Selector</h5>
        <div class="form-row align-items-center">
          <div class="col-9 my-6">
            <label class="mr-sm-1 sr-only" for="inlineFormCustomSelect">Preference</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="Language">
              <option selected>Select language...</option>
              <option value = "english">English</option>
              <option value = "spanish">Spanish</option>
              <option value = "german">German</option>
              <option value = "french">French</option>
            </select>
          </div>
          <div class="col-3 my-3">
            <button type="submit" class="btn btn-primary">Change Language</button>
          </div>
        </div>
      </div>
    </form>
  </div>

    @foreach(var m in ViewBag.Messages)
    {
      <div class="col-sm-3">
      <div class="card border-primary mb-3">
      <div class="card-header bg-transparent border-primary text-success">Message @m.MessageId</div>
        <div class="card-body">
          <h5 class="card-title">
            @m.Content
          </h5>
      </div>
      <div class="card-footer bg-transparent border-primary text-danger">@m.MessageDateTime</div>
      </div>
      </div>
    }

</div>



<div class="text-left">
    <form action="/Home/CreateMessage" method="post">
        <div class="form-group">
          <br>
          <label for="exampleFormControlTextarea1">Create New Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="2"></textarea>
        </div>

         <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>  